doctype html
html( ng-app='HnsApp' )
  head
    meta( charset='utf-8' )

    title.
      {{ title }}
    link( rel='stylesheet', href='/css/style.css' )

  body
    main.container(style="margin-top:50px")
      block content

    script( src='/js/front.js' )
    script( src='/js/app_bootstrap.js' )

