doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
  body
    block content

    script(src="/node_modules/angular/angular.min.js")
    script(src="/node_modules/angular-ui-router/release/angular-ui-router.min.js")
